<?xml version="1.0" encoding="UTF-8"?>

<odoo>


    <!-- Override menu global base to use action to show view kanban Model tour -->
    <menuitem id="menu_tour_template"
        name="Tour templates"
        parent="joint_buying_base.menu_root"
        action="joint_buying_purchase.open_view_kanban_tour_template"
    />

    <!-- Override menu global base to use action to show view kanban to Suppliers -->
    <menuitem id="menu_manage_suppliers"
        name="Manage my suppliers"
        parent="joint_buying_base.menu_root"
        groups="joint_buying_purchase.group_joint_buying_supplier_activity_key"
        action="joint_buying_purchase.open_view_kanban_manage_suppliers"
    />

    <!-- Override menu global base to use action to show view kanban Orders in status to_prepare -->
    <menuitem id="menu_manage_suppliers"
        name="My orders"
        parent="joint_buying_base.menu_root"
        groups="joint_buying_purchase.group_joint_buying_customer"
        action="joint_buying_purchase.open_view_kanban_joint_buying_purchase_order_in_state_to_prepare"
    />


</odoo>
