<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2020 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <menuitem id="menu_root"
        name="Joint Buyings"
        web_icon="joint_buying_base,static/description/icon.png"
        groups="group_joint_buying_user"
    />

    <menuitem id="menu_transport"
        name="Transports"
        parent="menu_root"
        sequence="10"
    />

    <menuitem id="menu_pivot"
        name="Pivot Role"
        parent="menu_root"
        sequence="15"
    />

    <menuitem id="menu_configuration"
        name="Configuration"
        parent="menu_root"
        sequence="100"
        groups="group_joint_buying_manager"
    />

</odoo>
